<form
  [formGroup]="converterForm"
  class="max-w-md mx-auto my-8 p-4 bg-gray-100 rounded-md shadow-md"
>
  <app-custom-input
    formControlName="amount"
    label="Amount"
    type="number"
    class="mb-4"
  ></app-custom-input>
  <div class="mb-4">
    <app-custom-select
      formControlName="currencyFrom"
      [label]="'Currency From'"
      [control]="converterForm.controls['currencyFrom']"
      [options]="currencyOptions"
      class="mb-2"
    >
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </app-custom-select>
  </div>
  <div class="mb-4">
    <app-custom-select
      formControlName="currencyTo"
      [label]="'Currency To'"
      [control]="converterForm.controls['currencyTo']"
      [options]="currencyOptions"
      class="mb-2"
    >
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </app-custom-select>
  </div>
  <div class="mb-4">
    <label class="block text-sm mb-2">Converted Amount:</label>
    <input
      [value]="converterForm.get('convertedAmount')?.value"
      readonly
      class="w-full border p-2 rounded-md"
    />
  </div>
  <button
    (click)="convertCurrency()"
    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700"
  >
    Convert
  </button>
</form>
